.main,
.access {
  min-height: 100vh;
}
.main {
  background-position: center;
  background-size: cover;
  background: linear-gradient(
    to left bottom,
    rgb(255, 0, 0),
    yellow,
    rgb(0, 255, 0),
    rgb(0, 255, 255),
    rgb(0, 0, 255),
    rgb(255, 0, 255),
    rgb(255, 0, 0)
  );
}

.can_cont {
  width: 100%;
}

.content,
.content_center {
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  padding: 2rem;
  border-radius: 1rem;
}
.content_center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 400px;
}
.after_reg {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-size: 1.5rem;
  font-style: italic;
}
.emoji {
  font-size: 2rem;
  color: red;
}
.heading {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  text-align: center;
  background: conic-gradient(
    from var(--angle),
    red,
    yellow,
    lime,
    aqua,
    blue,
    magenta,
    red
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.input_group,
.input_group_first {
  position: relative;
}
.input_group_first {
  margin-top: 2rem;
}

.form > .input_group:nth-child(1) {
  margin: 1rem 0;
}

.input {
  border: none;
  border-bottom: 2px solid #008000;
  background: none;
  padding: 1rem;
  font-size: 1rem;
  color: black;
  width: 100%;
  letter-spacing: 0.2rem;
}
.input:focus {
  outline: none;
  --angle: 0deg;
  border: 3px solid;

  border-image: conic-gradient(
      from var(--angle),
      red,
      yellow,
      lime,
      aqua,
      blue,
      magenta,
      red
    )
    1;
  animation: 3s rotate9234 linear infinite;
}
.full__width {
  width: 100%;
}
/* .user_label,
.user_label_focus */

.label {
  position: absolute;
  left: 15px;
  color: #000;
  pointer-events: none;
  transform: translateY(1rem);
  transition: 350ms;
}

@keyframes rotate9234 {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

.label_active {
  transform: translateY(235%) scale(1);
  background-color: #e8e8e8;
  font-weight: bold;
  padding: 0 0.2em;
  color: #2196f3;
}

.content_inline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}
.level,
.position {
  margin: 0;
  margin-left: 1rem;
  padding: 0;
  width: 50%;
  font-size: 2rem;
  font-weight: bold;
  color: #2196f3;
}
.level *,
.position * {
  border-radius: 0.3rem;
  width: 100%;
  background-color: transparent;
  color: #000;
  height: 3rem;
  font-size: 0.9rem;
  padding: 0.5rem;
  line-height: 1.5;
  border: 0.0625rem solid green;
}
.level *:focus,
.position_select:focus {
  border: none;
  outline: 0.125rem solid green;
}

.position {
  width: 100%;
  margin: 1rem auto;
  height: 2.5rem;
}
.position_select {
  padding: 0.5rem;
  font-size: 1rem;
}

/* Submit Button */
.btn {
  --color: #008000;
  font-family: inherit;
  display: block;
  width: 8em;
  height: 2.6em;
  line-height: 2.5em;
  margin: 30px auto 20px auto;
  position: relative;
  overflow: hidden;
  border: 2px solid var(--color);
  transition: color 0.5s;
  z-index: 1;
  font-size: 17px;
  border-radius: 6px;
  font-weight: 500;
  color: var(--color);
  background-color: #fff;
}

.btn:before {
  content: '';
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 150px;
  width: 200px;
  border-radius: 50%;
}

.btn:hover {
  color: #fff;
  font-weight: bold;
}

.btn:before {
  top: 100%;
  left: 100%;
  transition: all 0.7s;
}

.btn:hover:before {
  top: -30px;
  left: -30px;
}

.btn:active:before {
  background: #3a0ca3;
  transition: background 0s;
}

.error {
  text-align: center;
  margin: auto;
  color: rgb(255, 0, 0);
  margin-top: 2rem;
  border: 0.0625rem solid #ccc;
  padding: 0.5rem;
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  .can_con {
    max-width: 80%;
  }
}
